extends layout
block content
  #spinner.hidden
  #comparison-controls.removed.hidden
            #comparison-clear
              span.type &Chi;
            #size-picker
              #small
                .box
                .box
                .box
                .box
              #medium
                .box
                .box
                .box
                .box
              #large
                .box
  #error-holder.hidden
    #error
      #error-pointer
      h2 Sorry!
      p There was a problem with that url.
      h3 Please, Check the URL and try again.
      P.small The URL was either unreachable or errors on the page prevented it from being rendered properly.
  #container
    section#form
      .url_form
        form(id='url-form', novalidate)
          input(type='url', id='url-input', name='url', value='', placeholder='Enter a URL to Analyze & Compare.')
          input(type='submit', id='url-submit', value='')
    section
      #comparison.hidden.removed
        #compare-holder
          #compare-center
    section#welcome
      #welcome-logo
      #welcome-text
        p ChromaNope is a color-blindness simulator made for the web. Simply enter the URL(address) of a website that you'd like to see a simulated color deficient view of.
        p The three most common types of color blindness are all represented in ChromaNopes simulation (Protonopia, Deuteranopia, and Tritanopia). The purpose of this tool is to help designers see their entire web design as a person with color-blindness might. This helps designers make informed decisions about accessibility by identifying potential problems that color-blind users might have, problems that might have otherwise gone unnoticed.
    footer
      section#more-info-rainbow
      section#more-info
        #created
          p
            | Created by |
            a(href="http://inkspeck.com") InkSpeck Design
            | &copy;&nbsp;
            span#copyright
