!!! 5
html
  head
    meta(charset='utf-8')
    title ChromaNope
    meta(name='description', content='ChromaNope - The Color Blindness Simulator for the Web')
    meta(name='author', content='InkSpeck Design')
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel="icon", type="image/png", href="/images/favicon.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/apple-touch-icon.png")
    // CSS
    != css('index')
  body
    block content
  // JS  
  != js('http://code.jquery.com/jquery.min.js')
  != js('colorVisionSimulate')
  != js('chromanope')

  //Analytics    
  script(type="text/javascript")
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4860055-9']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
