grid-width = 100%
grid-min-width = 800px
base-color = darken(#878787, 7%)
@import 'fluidity'
@import 'fluidity/elements'
@import 'fluidity/forms'

purple = lighten(desaturate(#6655A9,5%),55%)
red = lighten(desaturate(#C0745B,45%),60%)
green = lighten(desaturate(#829351,3%),62%)
yellow = lighten(desaturate(#fffa65,51%),80%)

// From legacy fluidity
darkgray1 = #212121
darkgray2 = #313131
darkgray3 = #353535
lightgray1 = #c1c1c1
lightgray2 = #dadada
lightgray3 = #fafafa
btngray1 = #e1e1e1
btngray2 = #d1d1d1
btngray3 = #a1a1a1
// END

raw-purple = #6655A9
raw-red = #C0745B
raw-green = #829351
raw-yellow = #fffa65

btn-purple = lighten(desaturate(#6655A9,90%),63%)
btn-red = lighten(desaturate(#C0745B,85%),70%)
btn-green = lighten(desaturate(#829351,35%),70%)
btn-yellow = lighten(desaturate(#fffa65,47%),85%)

.removed
  display none !important

.hidden
  display none
  opacity 0

@keyframes gradiation {
  0% {
    background-position 0% 0%, 0% 0%
  }
  50% {
    background-position 0% 0%, 200% 0
  }
  100% {
    background-position 0% 0%, 0% 0%
  }
}


body
  background-image url('/images/bodybg.png'), radial-gradient(ellipse farthest-side at 0% 0%, purple 0%, red 45%, green 65%, yellow 85%, rgba(yellow,0%) 95%)
  background-color btn-yellow
  background-repeat no-repeat, no-repeat
  background-position 0 0, 0 0
  background-size 852px 626px, 150% 768px
  font-family Verdana
  color base-color
  animation-name gradiation
  animation-iteration-count infinite
  animation-timing-function linear
  animation-duration 45s
input
  border-radius 0px !important
  border 1px solid #bababa !important

#container
  grid()

.url_form
  grid-space(800px)
  center-space()
  margin-top margins
  form
    input[type=url]
      margin margins
      width 65%
      &:hover
      &:active
      &:focus
        box-shadow 0px 0px 12px darken(btn-purple,5%)
    input[type=submit],
    button
      clear none
      float left
      width 125px
      margin margins 0
      border-radius 0.25em !important
      background-image url('/images/logo.png'), radial-gradient(ellipse farthest-side at 75% -16%, btn-yellow 0%,btn-red 80%,btn-purple 100%)
      background-size 100%
      background-position 0px 3px, 0px 0px
      border 0px
      box-shadow 0px 0px 1px #bfbfbf
      &:hover
      &:active
      &:focus
        background-image url('/images/logo.png'), radial-gradient(ellipse farthest-side at 75% -16%, btn-yellow 0%,btn-red 70%,lighten(purple, 25%) 100%)
        background-size 100%
        background-position 0px 3px, 0px 0px
        border 0px
        box-shadow inset 0px 0px 6px 1px #bababa
        cursor pointer !important

#welcome
  padding-top 20px
  padding-bottom 35px
  #welcome-logo
    grid-space(80%)
    center-space()
    height 144px
    background-image url('/images/logo.png')
    background-repeat no-repeat
    background-size auto 100%
  #welcome-text
    grid-space(60%)
    center-space()

#spinner
  position fixed
  top 1%
  left 1%
  width 82px
  height 82px
  margin 0
  padding 0
  background-image url('/images/spinner.png')
  background-repeat no-repeat
  background-size 100% 100%
  transition all 1s linear
  animation-name spin
  animation-iteration-count infinite
  animation-timing-function linear
  animation-duration 1.9s
  opacity 0.9
  z-index 2

#comparison
  visibility visible !important
  grid-space(100%)
  margin 0
  padding-bottom 180px
  h2
    text-align left
    margin 0.5em 0.05em
    font-weight normal
    text-shadow 0 0 1px darken(base-color, 40%), 0 1px 2px lightgray3
  .img
    display inline-block
    float left
    margin 0.25em
    padding 0
    image-rendering optimizeQuality

#compare-center
  width 960px
  margin 0 auto

#comparison-controls
  position absolute
  top 20px
  right 24px
  display block
  width 170px
  height 30px
  z-index 4
  #comparison-clear
    display block
    position relative
    float right
    width 20px
    height 20px
    border-radius 50%
    background radial-gradient(ellipse farthest-side at 65% -5%, btn-yellow 0%,btn-red 80%,btn-purple 100%)
    box-shadow 0 0 1px #bfbfbf
    border 1px solid darken(#bababa, 10%)
    margin 6px 8px 0px 8px
    padding 4px
    cursor pointer !important
    z-index 5
    &:hover
    &:focus
    &:active
      background radial-gradient(ellipse farthest-side at 75% -5%, btn-yellow 0%,btn-red 60%,lightne(purple, 25%) 100%)
      box-shadow inset 0 0 6px 1px #bababa
      cursor pointer !important
    .type
      position absolute
      top 2px
      left 7px
      width 16px
      hieght 16px
      font-weight bold
      font-size 18px
      padding 0
  #size-picker
    position absolute
    display block
    top .28em
    right 1.2em
    margin 0
    width 140px
    height 30px
    h4
      text-align center
    div
      display inline-block
      float left
      margin 1%
      padding 0
      width 26%
      height 100%
    #small, #medium, #large
      cursor pointer
      .box
        background radial-gradient(ellipse farthest-corner at 65% -20%, btn-yellow 0%,btn-red 70%,btn-purple 90%)
        box-sizing border-box
        border 1px solid #bababa
        box-shadow none
        border-radius 1px
      &:hover
        .box
          background radial-gradient(ellipse farthest-corner at 65% -20%, btn-yellow 0%,btn-red 50%,lighten(purple,25%) 70%)
          box-shadow inset 0 1px 4px #bbb

    #small .box
      display inline-block
      float left
      width 19%
      height 96%
      margin 3%
      cursor pointer
      z-index 0
    #medium .box
      display inline-block
      float left
      width 44%
      height 44%
      margin 3%
      cursor pointer
      z-index 0
     #large .box
      display inline-block
      float left
      width 96%
      height 96%
      margin 3%
      cursor pointer
      z-index 0

@keyframes spin{
    0% {
      transform rotate(0deg)
    }
    100% {
      transform rotate(360deg)
    }
}

@keyframes pulse {
  0% {
    opacity 0.65
  }
  50% {
    opacity 0.85
  }
  100% {
    opacity 0.65
  }
}

#error-holder
  position absolute
  top 0
  left 0
  width 100%
  transition all 0.35s linear
  -webkit-transition all 0.35s linear
  -moz-transition all 0.35s linear
  opacity 1
  z-index 2
  #error
    position relative
    top 94px
    width 250px
    margin 1em auto
    padding 8px
    background-color lighten(darkgray2,20%)
    border-radius 7px
    box-shadow 0 0 0 10px rgba(darkgray2, 0.5), inset 0 0 150px 40px lighten(darkgray2,5%)
    text-shadow 0 -1px 1px darkgray2
    color white
    font-size .9em
    line-height .9em
    h2, h3
      margin-bottom 0
    h3
      line-height 1em
      margin-left 1em
    p
      margin-top 1em
      margin-bottom 1em
    .small
      font-size 0.85em
    #error-pointer
      position absolute
      display block
      top -30px
      left 50%
      margin-left -10px
      font-size  0px
      line-height  0%
      width  0px
      height 0px
      border-left  10px solid transparent
      border-bottom  20px solid rgba(darkgray2, 0.5)
      border-right  10px solid transparent

footer
  height auto

#more-info-rainbow
  background linear-gradient(to right, raw-purple, raw-green, raw-yellow, raw-red)
  height 30px
  margin-top margins*3
  box-shadow inset 0 0 12px 0px darken(base-color,60%)

#more-info
  background linear-gradient(to bottom, darken(base-color,25%) 0%, base-color 85%)
  border-top 1px solid darken(base-color, 40%)
  color btn-yellow
  height 45px
  #created a
  a
    color btn-yellow

#created
  grid-space(100%)
  text-align center
  font-size 0.7em
  font-weight 100
  margin 0 0
  p
   margin .8em
  a
    text-decoration none
    color base-color
    &:hover
    &:visited
    &:focus
      text-decoration underline

@media screen and (max-width: 1000px)
  #container
    grid(100%,320px)
    #welcome
      min-height 600px
    .url_form
      grid-space(80%)
      center-space()
      margin-top margins
      form
        input[type=url]
          font-size .9em
          font-weight normal
          width 100%
          margin margins 0
        input[type=submit]
          font-size 2.8em
          display block
          clear both
          float none
          width 200px
          height 65px
          margin 16px auto
          border-radius 0.25em !important
          background-image url('/images/logo.png'), radial-gradient(ellipse farthest-side at 75% -16%, btn-yellow 0%,btn-red 80%,btn-purple 100%)
          background-size 100%
          background-position 0px 10px, 0px 0px
          background-repeat no-repeat, no-repeat
          &:hover
          &:active
          &:focus
            background-image url('/images/logo.png'), radial-gradient(ellipse farthest-side at 75% -16%, btn-yellow 0%,btn-red 80%,lighten(purple,25%) 100%)
            background-size 100%
            background-position 0px 9px, 0px 0px
            border 0px
            box-shadow inset 0px 0px 6px 1px #bababa
            cursor pointer !important

  .showroom
    #container
      .url_form
        grid-space(70%)
        center-space()
        form
          input[type=url]
            font-size .9em
            font-weight normal
            width 85%
            margin margins 0px
    #comparison-controls
      right 0.5em
  #welcome
    #welcome-logo
      display none
    #welcome-text
      grid-space(90%)
      center-space()

  #comparison
    visibility visible !important
    grid-space(100%)
    padding-bottom 180px
    .img
      display block
      float none
      width 620px
      margin 1.5em auto
      img
        width 620px

  #compare-center
    width 100%
    margin 0 auto

  #size-picker
    display none !important

  #spinner
    position fixed
    top 40%
    left 50%
    margin -42px 0 0 -42px

@media screen and (max-width: 674px)
  #comparison
    .img
      display block
      float none
      width 512px
      margin 1.5em auto
      img
        width 512px

@media screen and (max-width: 520px)
  #comparison
    .img
      display block
      float none
      width 312px
      margin 1.5em auto
      img
        width 312px


  #more-info-rainbow
    height 12px
    margin-top margins*2

  #more-info
    height 25px

  #created
    font-size 0.5em
    font-weight 100
    p
      margin 2px
