html,body{margin:0;padding:0;height:100%}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit}
table{border-collapse:collapse;border-spacing:0}
ul{list-style:none}
html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}
button,input{line-height:normal}
button{border:0;padding:0}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
textarea{overflow:auto;vertical-align:top}
.grid{position:relative;width:1000px;min-width:1000px;margin:0 auto}
body{min-width:1000px;width:100%;height:100%}
header,footer,feildset,section,.section{position:relative;display:block;float:left;width:100%;height:100%;margin:0;padding:0;clear:both}
.grid_10{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:10%}
.grid_20{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:20%}
.grid_25{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:25%}
.grid_30{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:30%}
.grid_33{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:33.3%}
.grid_40{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:40%}
.grid_50{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:50%}
.grid_60{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:60%}
.grid_70{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:70%}
.grid_75{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:75%}
.grid_80{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:80%}
.grid_90{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:90%}
.grid_100{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:100%}
body{font-size:100%;line-height:1.8em;font-family:"Helvetica Neue",Helvetica,Verdana,Arial}
p{margin:1.8em;line-height:1.2em}
h1,h2,h3,h4,h5,h6{margin:.625em 24px}
h1{font-size:1.8em}
h2{font-size:1.6em}
h3{font-size:1.4em}
h4{font-size:1.2em}
h5{font-size:1em}
h6{font-size:.8em;font-weight:500;text-transform:uppercase}
b,strong{font-weight:bold}
i,em{font-style:italic;letter-spacing:.065em}
address{display:block;margin:1.5em;line-height:1.3em}
pre,code{display:block;margin:1em;border-radius:5px;padding:1em;background-color:#d1d1d1;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:none;font-size:.875em;font-family:"Courier New",Courier,monospace,sans-serif;overflow:auto}
fieldset{position:relative;clear:both;margin:0}
legend{width:100%;float:left;margin:.75em 0 1.5em 0;font-size:1.4em;color:#9a9a9a;clear:both}
label{display:block;float:left;clear:both;width:20%;padding:.25em 1.5em 1em 1em;margin:0;font-size:.87em}
input[type=button],input[type=submit],input[type=reset],.button,button{width:auto;float:left;padding:8px;margin:.25em .25em;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;color:#fff;border:none;outline:none;text-align:center;text-decoration:none;color:#000;font-weight:normal;letter-spacing:.06em;text-shadow:0 1px 0 #e1e1e1;background-color:#a1a1a1;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#a1a1a1),color-stop(.64,#d1d1d1),color-stop(1,#e1e1e1));background-image:-moz-linear-gradient(center bottom,#a1a1a1 19%,#d1d1d1 64%,#e1e1e1 100%);background-image:-o-linear-gradient(top,#e1e1e1,#a1a1a1);background-image:linear-gradient(center bottom,#a1a1a1 19%,#d1d1d1 64%,#e1e1e1 100%);border:1px solid #a1a1a1;-moz-box-shadow:0 1px 1px #111;-webkit-box-shadow:0 1px 1px #111;-o-box-shadow:0 1px 1px #111;-moz-box-shadow:0 1px 1px #111;-webkit-box-shadow:0 1px 1px #111;-o-box-shadow:0 1px 1px #111;box-shadow:0 1px 1px #111;cursor:pointer;}
input[type=button] a,input[type=submit] a,input[type=reset] a,.button a,button a{text-decoration:none;color:#111;}
input[type=button] a:active,input[type=submit] a:active,input[type=reset] a:active,.button a:active,button a:active{color:#fff}
input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover,.button:hover,button:hover,input[type=button]:focus,input[type=submit]:focus,input[type=reset]:focus,.button:focus,button:focus{-moz-box-shadow:inset 0 0 6px 0 #212121;-webkit-box-shadow:inset 0 0 6px 0 #212121;-o-box-shadow:inset 0 0 6px 0 #212121;box-shadow:inset 0 0 6px 0 #212121}
input[type=button]:active,input[type=submit]:active,input[type=reset]:active,.button:active,button:active{-webkit-box-shadow:inset 0 0 10px 1px #111;-moz-box-shadow:inset 0 0 10px 1px #111;-o-box-shadow:inset 0 0 10px 1px #111;-moz-box-shadow:inset 0 0 10px 1px #111;-webkit-box-shadow:inset 0 0 10px 1px #111;-o-box-shadow:inset 0 0 10px 1px #111;box-shadow:inset 0 0 10px 1px #111;color:#fff;text-shadow:0 0 8px #111,0 0 1px #111;border:1px solid #111;background-color:#212121;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#212121),color-stop(.64,#313131),color-stop(1,#353535));background-image:-moz-linear-gradient(center bottom,#212121 19%,#313131 64%,#353535 100%);background-image:-o-linear-gradient(top,#353535,#212121);background-image:linear-gradient(center bottom,#212121 19%,#313131 64%,#353535 100%)}
input[type=button]:disabled,input[type=submit]:disabled,input[type=reset]:disabled,.button:disabled,button:disabled,input[type=button]:disabled:active,input[type=submit]:disabled:active,input[type=reset]:disabled:active,.button:disabled:active,button:disabled:active{opacity:.6;-webkit-opacity:.6;-moz-opacity:.6;-o-opacity:.6;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60)}
input[type=button]:disabled:active a:active,input[type=submit]:disabled:active a:active,input[type=reset]:disabled:active a:active,.button:disabled:active a:active,button:disabled:active a:active{color:#000}
input,input[type=text],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=number],input[type=password],textarea,select{display:inline-block;float:left;border:1px solid #868686;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:6px;outline:none;margin:.5em 0 0 0;-webkit-appearance:none;-o-appearance:none;width:60%;-webkit-box-shadow:inset 0 0 12px 0 #c2c2c2;-moz-box-shadow:inset 0 0 12px 0 #c2c2c2;-o-box-shadow:inset 0 0 12px 0 #c2c2c2;-moz-box-shadow:inset 0 0 12px 0 #c2c2c2;-webkit-box-shadow:inset 0 0 12px 0 #c2c2c2;-o-box-shadow:inset 0 0 12px 0 #c2c2c2;box-shadow:inset 0 0 12px 0 #c2c2c2;}
input:focus,input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=number]:focus,input[type=password]:focus,textarea:focus,select:focus,input:hover,input[type=text]:hover,input[type=email]:hover,input[type=url]:hover,input[type=search]:hover,input[type=tel]:hover,input[type=number]:hover,input[type=password]:hover,textarea:hover,select:hover{border:1px solid #8e8e8e;-moz-box-shadow:0 0 9px #8e8e8e;-webkit-box-shadow:0 0 9px #8e8e8e;-o-box-shadow:0 0 9px #8e8e8e;-moz-box-shadow:0 0 9px #8e8e8e;-webkit-box-shadow:0 0 9px #8e8e8e;-o-box-shadow:0 0 9px #8e8e8e;box-shadow:0 0 9px #8e8e8e}
textarea{height:6em}
select{background-color:#d3d3d3;-webkit-box-shadow:inset 0 0 9px 1px #9a9a9a;-moz-box-shadow:inset 0 0 9px 1px #9a9a9a;-o-box-shadow:inset 0 0 9px 1px #9a9a9a;-moz-box-shadow:inset 0 0 9px 1px #9a9a9a;-webkit-box-shadow:inset 0 0 9px 1px #9a9a9a;-o-box-shadow:inset 0 0 9px 1px #9a9a9a;box-shadow:inset 0 0 9px 1px #9a9a9a;background-image:url("./lib/images/select.png");background-repeat:no-repeat;background-position:right center;cursor:pointer;}
select:focus,select:hover{background-color:#d6d6d6;-webkit-box-shadow:inset 0 0 9px 1px #c2c2c2;-moz-box-shadow:inset 0 0 9px 1px #c2c2c2;-o-box-shadow:inset 0 0 9px 1px #c2c2c2;-moz-box-shadow:inset 0 0 9px 1px #c2c2c2;-webkit-box-shadow:inset 0 0 9px 1px #c2c2c2;-o-box-shadow:inset 0 0 9px 1px #c2c2c2;box-shadow:inset 0 0 9px 1px #c2c2c2;background-image:url("./lib/images/select.png");background-repeat:no-repeat;background-position:right center}
select[multiple]{display:inline-block;background-color:#a1a1a1;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#a1a1a1),color-stop(.64,#d1d1d1),color-stop(1,#e1e1e1));background-image:-moz-linear-gradient(center bottom,#a1a1a1 19%,#d1d1d1 64%,#e1e1e1 100%);background-image:-o-linear-gradient(top,#e1e1e1,#a1a1a1);background-image:linear-gradient(center bottom,#a1a1a1 19%,#d1d1d1 64%,#e1e1e1 100%);-webkit-box-shadow:inset 0 1px 9px 0 #c2c2c2;-moz-box-shadow:inset 0 1px 9px 0 #c2c2c2;-o-box-shadow:inset 0 1px 9px 0 #c2c2c2;-moz-box-shadow:inset 0 1px 9px 0 #c2c2c2;-webkit-box-shadow:inset 0 1px 9px 0 #c2c2c2;-o-box-shadow:inset 0 1px 9px 0 #c2c2c2;box-shadow:inset 0 1px 9px 0 #c2c2c2;}
select[multiple]:focus{border:1px solid #8e8e8e;-moz-box-shadow:0 0 9px #8e8e8e;-webkit-box-shadow:0 0 9px #8e8e8e;-o-box-shadow:0 0 9px #8e8e8e;-moz-box-shadow:0 0 9px #8e8e8e;-webkit-box-shadow:0 0 9px #8e8e8e;-o-box-shadow:0 0 9px #8e8e8e;box-shadow:0 0 9px #8e8e8e}
input[type=radio],input[type=checkbox]{display:inline-block;width:1em;margin:0 0 0 1.5em;height:1em;-webkit-border-radius:.25em;-moz-border-radius:.25em;-o-border-radius:.25em;border-radius:.25em;padding-top:.25em;border:.18em solid #fff;background-color:#b4b4b4;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#b4b4b4),color-stop(.64,#d1d1d1),color-stop(1,#e1e1e1));background-image:-moz-linear-gradient(center bottom,#b4b4b4 19%,#d1d1d1 64%,#e1e1e1 100%);background-image:-o-linear-gradient(top,#e1e1e1,#b4b4b4);background-image:linear-gradient(center bottom,#b4b4b4 19%,#d1d1d1 64%,#e1e1e1 100%);-moz-box-shadow:0 0 1px #353535,0 0 9px #b1b1b1,inset 0 0 6px 0 #111;-webkit-box-shadow:0 0 1px #353535,0 0 9px #b1b1b1,inset 0 0 6px 0 #111;-o-box-shadow:0 0 1px #353535,0 0 9px #b1b1b1,inset 0 0 6px 0 #111;box-shadow:0 0 1px #353535,0 0 9px #b1b1b1,inset 0 0 6px 0 #111;cursor:pointer;}
input[type=radio]:focus,input[type=checkbox]:focus,input[type=radio]:hover,input[type=checkbox]:hover{border:.18em solid #8e8e8e;-moz-box-shadow:0 0 9px #8e8e8e;-webkit-box-shadow:0 0 9px #8e8e8e;-o-box-shadow:0 0 9px #8e8e8e;-moz-box-shadow:0 0 9px #8e8e8e;-webkit-box-shadow:0 0 9px #8e8e8e;-o-box-shadow:0 0 9px #8e8e8e;box-shadow:0 0 9px #8e8e8e}
input[type=radio]:focus:checked,input[type=checkbox]:focus:checked{border:.18em solid #fff;background-color:#111;-moz-box-shadow:0 0 1px #353535,0 0 9px #b1b1b1,inset 0 0 6px 0 #111;-webkit-box-shadow:0 0 1px #353535,0 0 9px #b1b1b1,inset 0 0 6px 0 #111;-o-box-shadow:0 0 1px #353535,0 0 9px #b1b1b1,inset 0 0 6px 0 #111;box-shadow:0 0 1px #353535,0 0 9px #b1b1b1,inset 0 0 6px 0 #111}
input[type=radio]{-webkit-border-radius:2em;-moz-border-radius:2em;-o-border-radius:2em;border-radius:2em}
input[type=checkbox]:checked{background-image:url("./lib/images/checkbox.png");background-repeat:no-repeat;background-color:#111}
input[type=radio]:checked{background-image:none;background-color:#111}
input[type=file]{-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;box-shadow:none;border:none;font-size:.875em}
.topbar{font-size:.8em;width:100%;height:60px;position:fixed;top:0;left:0;border:1px solid #111;background-color:#212121;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#212121),color-stop(.64,#313131),color-stop(1,#353535));background-image:-moz-linear-gradient(center bottom,#212121 19%,#313131 64%,#353535 100%);background-image:-o-linear-gradient(top,#353535,#212121);background-image:linear-gradient(center bottom,#212121 19%,#313131 64%,#353535 100%);color:#d1d1d1;z-index:10;opacity:1;-webkit-opacity:1;-moz-opacity:1;-o-opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-box-shadow:0 0 16px #111;-webkit-box-shadow:0 0 16px #111;-o-box-shadow:0 0 16px #111;-moz-box-shadow:0 0 16px #111;-webkit-box-shadow:0 0 16px #111;-o-box-shadow:0 0 16px #111;box-shadow:0 0 16px #111;}
.topbar .topbar-inner{position:relative;width:1000px;min-width:1000px;margin:0 auto;overflow:visible;}
.topbar .topbar-inner p{margin:1.5em}
.topbar button,.topbar .button{margin:1.4em 1em;font-weight:bold;float:left;border:0;font-size:.8em}
.topbar .pills li a{border:0;}
.topbar .pills li a:active,.topbar .pills li a.current{border:0}
.pills{display:block;width:100%;height:50px;clear:both;margin-left:.5em}
.pills li a{float:left;padding:7px 8px 8px 9px;margin:1.1em .2em;-webkit-border-radius:13px;-moz-border-radius:13px;-o-border-radius:13px;border-radius:13px;color:#fff;border:none;outline:none;text-align:center;text-decoration:none;color:#000;font-weight:normal;letter-spacing:.06em;text-shadow:0 1px 0 #e1e1e1;background-color:#a1a1a1;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#a1a1a1),color-stop(.64,#d1d1d1),color-stop(1,#e1e1e1));background-image:-moz-linear-gradient(center bottom,#a1a1a1 19%,#d1d1d1 64%,#e1e1e1 100%);background-image:-o-linear-gradient(top,#e1e1e1,#a1a1a1);background-image:linear-gradient(center bottom,#a1a1a1 19%,#d1d1d1 64%,#e1e1e1 100%);border:1px solid #212121;-moz-box-shadow:0 1px 1px #111;-webkit-box-shadow:0 1px 1px #111;-o-box-shadow:0 1px 1px #111;-moz-box-shadow:0 1px 1px #111;-webkit-box-shadow:0 1px 1px #111;-o-box-shadow:0 1px 1px #111;box-shadow:0 1px 1px #111;}
.pills li a:hover{-webkit-box-shadow:inset 0 0 6px 0 #1a1a1a;-moz-box-shadow:inset 0 0 6px 0 #1a1a1a;-o-box-shadow:inset 0 0 6px 0 #1a1a1a;-moz-box-shadow:inset 0 0 6px 0 #1a1a1a;-webkit-box-shadow:inset 0 0 6px 0 #1a1a1a;-o-box-shadow:inset 0 0 6px 0 #1a1a1a;box-shadow:inset 0 0 6px 0 #1a1a1a}
.pills li a.current,.pills li a:active{padding:7px 7px 8px 9px;margin:1.1em .2em;-webkit-box-shadow:inset 0 0 10px 1px #141414;-moz-box-shadow:inset 0 0 10px 1px #141414;-o-box-shadow:inset 0 0 10px 1px #141414;-moz-box-shadow:inset 0 0 10px 1px #141414;-webkit-box-shadow:inset 0 0 10px 1px #141414;-o-box-shadow:inset 0 0 10px 1px #141414;box-shadow:inset 0 0 10px 1px #141414;color:#fff;text-shadow:0 0 8px #111,0 0 1px #111;border:1px solid #111;background-color:#212121;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#212121),color-stop(.64,#313131),color-stop(1,#1b1b1b));background-image:-moz-linear-gradient(center bottom,#212121 19%,#313131 64%,#1b1b1b 100%);background-image:-o-linear-gradient(top,#1b1b1b,#212121);background-image:linear-gradient(center bottom,#212121 19%,#313131 64%,#1b1b1b 100%)}
.tabs{display:block;margin:auto 0;width:100%;height:50px;clear:both}
.tabs li  a{float:left;padding:8px;margin:1.1em .3em 1.1em 0;-webkit-border-top-left-radius-:8px;-moz-border-topleft-radius:8px;-o-border-top-left-radius:8px;border-top-left-radius:8px;-webkit-border-top-right-radius-:8px;-moz-border-topright-radius:8px;-o-border-top-right-radius:8px;border-top-right-radius:8px;color:#fff;border:none;outline:none;text-align:center;text-decoration:none;color:#000;font-weight:normal;letter-spacing:.06em;text-shadow:0 1px 0 #e1e1e1;background-color:#a1a1a1;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#a1a1a1),color-stop(.64,#d1d1d1),color-stop(1,#e1e1e1));background-image:-moz-linear-gradient(center bottom,#a1a1a1 19%,#d1d1d1 64%,#e1e1e1 100%);background-image:-o-linear-gradient(top,#e1e1e1,#a1a1a1);background-image:linear-gradient(center bottom,#a1a1a1 19%,#d1d1d1 64%,#e1e1e1 100%);border:1px solid #212121;-webkit-box-shadow:inset 0 0 6px 0 #1a1a1a;-moz-box-shadow:inset 0 0 6px 0 #1a1a1a;-o-box-shadow:inset 0 0 6px 0 #1a1a1a;-moz-box-shadow:inset 0 0 6px 0 #1a1a1a;-webkit-box-shadow:inset 0 0 6px 0 #1a1a1a;-o-box-shadow:inset 0 0 6px 0 #1a1a1a;box-shadow:inset 0 0 6px 0 #1a1a1a;}
.tabs li  a:hover,.tabs li  a.current,.tabs li  a:active{-webkit-box-shadow:inset 0 0 10px 1px #141414;-moz-box-shadow:inset 0 0 10px 1px #141414;-o-box-shadow:inset 0 0 10px 1px #141414;-moz-box-shadow:inset 0 0 10px 1px #141414;-webkit-box-shadow:inset 0 0 10px 1px #141414;-o-box-shadow:inset 0 0 10px 1px #141414;box-shadow:inset 0 0 10px 1px #141414;color:#fff;text-shadow:0 0 8px #111,0 0 1px #111;border:1px solid #111;background-color:#212121;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#212121),color-stop(.64,#313131),color-stop(1,#353535));background-image:-moz-linear-gradient(center bottom,#212121 19%,#313131 64%,#353535 100%);background-image:-o-linear-gradient(top,#353535,#212121);background-image:linear-gradient(center bottom,#212121 19%,#313131 64%,#353535 100%)}
.removed{display:none !important}
.hidden{display:none;opacity:0;-webkit-opacity:0;-moz-opacity:0;-o-opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
body{background-image:url("/images/bodybg.png");background-repeat:no-repeat;background-color:#f6f6f6;font-family:Verdana}
input{font-family:Verdana}
#container{position:relative;width:1000px;min-width:1000px;margin:0 auto}
.url_form{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:60%;background-color:#d1d1d1;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#d1d1d1),color-stop(.64,#e1e1e1),color-stop(1,#f0f0f0));background-image:-moz-linear-gradient(center bottom,#d1d1d1 19%,#e1e1e1 64%,#f0f0f0 100%);background-image:-o-linear-gradient(top,#f0f0f0,#d1d1d1);background-image:linear-gradient(center bottom,#d1d1d1 19%,#e1e1e1 64%,#f0f0f0 100%);-moz-box-shadow:0 1px 4px #212121;-webkit-box-shadow:0 1px 4px #212121;-o-box-shadow:0 1px 4px #212121;box-shadow:0 1px 4px #212121;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;margin:1em .25em .1em .25em;opacity:.9;-webkit-opacity:.9;-moz-opacity:.9;-o-opacity:.9;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.url_form input{margin:.8em 1em 1em .5em}
.url_form input[type=text]{width:68%}
.url_form input[type='submit']{font-weight:normal;margin:.7em 0 0 .5em;background-color:#c1c1c1;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#c1c1c1),color-stop(.64,#d1d1d1),color-stop(1,#e8e8e8));background-image:-moz-linear-gradient(center bottom,#c1c1c1 19%,#d1d1d1 64%,#e8e8e8 100%);background-image:-o-linear-gradient(top,#e8e8e8,#c1c1c1);background-image:linear-gradient(center bottom,#c1c1c1 19%,#d1d1d1 64%,#e8e8e8 100%);border:1px solid #b1b1b1;color:#353535;cursor:pointer;}
.url_form input[type='submit']:hover,.url_form input[type='submit']:focus{-moz-box-shadow:inset 0 0 12px 3px #e3e3e3;-webkit-box-shadow:inset 0 0 12px 3px #e3e3e3;-o-box-shadow:inset 0 0 12px 3px #e3e3e3;box-shadow:inset 0 0 12px 3px #e3e3e3}
.showroom{background-color:#1b1b1b;}
.showroom .url_form{background-color:#313131;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#313131),color-stop(.64,#353535),color-stop(1,#5d5d5d));background-image:-moz-linear-gradient(center bottom,#313131 19%,#353535 64%,#5d5d5d 100%);background-image:-o-linear-gradient(top,#5d5d5d,#313131);background-image:linear-gradient(center bottom,#313131 19%,#353535 64%,#5d5d5d 100%);opacity:1;-webkit-opacity:1;-moz-opacity:1;-o-opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.showroom .url_form input[type='text']:hover,.showroom .url_form input[type='text']:focus{border:1px solid #212121;-moz-box-shadow:0 0 9px #212121;-webkit-box-shadow:0 0 9px #212121;-o-box-shadow:0 0 9px #212121;box-shadow:0 0 9px #212121}
.showroom .url_form input[type='submit']{background-color:#313131;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.19,#313131),color-stop(.64,#656565),color-stop(1,#9a9a9a));background-image:-moz-linear-gradient(center bottom,#313131 19%,#656565 64%,#9a9a9a 100%);background-image:-o-linear-gradient(top,#9a9a9a,#313131);background-image:linear-gradient(center bottom,#313131 19%,#656565 64%,#9a9a9a 100%);border:1px solid #212121;color:#d1d1d1;text-shadow:none;text-shadow:0 -1px 2px #000;cursor:pointer;-moz-box-shadow:0 0 3px #212121;-webkit-box-shadow:0 0 3px #212121;-o-box-shadow:0 0 3px #212121;box-shadow:0 0 3px #212121;}
.showroom .url_form input[type='submit']:hover,.showroom .url_form input[type='submit']:focus{-moz-box-shadow:inset 0 0 12px 3px #212121;-webkit-box-shadow:inset 0 0 12px 3px #212121;-o-box-shadow:inset 0 0 12px 3px #212121;box-shadow:inset 0 0 12px 3px #212121}
.showroom #error-holder #error{background-color:#b1b1b1;color:#212121;-moz-box-shadow:0 0 0 10px rgba(99,99,99,0.7),inset 0 0 225px 40px #f1f1f1;-webkit-box-shadow:0 0 0 10px rgba(99,99,99,0.7),inset 0 0 225px 40px #f1f1f1;-o-box-shadow:0 0 0 10px rgba(99,99,99,0.7),inset 0 0 225px 40px #f1f1f1;box-shadow:0 0 0 10px rgba(99,99,99,0.7),inset 0 0 225px 40px #f1f1f1;text-shadow:0 1px 1px #c1c1c1;}
.showroom #error-holder #error #error-pointer{border-bottom:20px solid rgba(99,99,99,0.7)}
#comparison{visibility:visible !important;position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:100%;background-color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 24px #000;-webkit-box-shadow:0 0 24px #000;-o-box-shadow:0 0 24px #000;box-shadow:0 0 24px #000;margin:0;}
#comparison #comparison-clear{position:relative;display:block;float:right;width:16px;height:16px;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;background-color:#b1b1b1;-moz-box-shadow:0 0 0 3px #313131;-webkit-box-shadow:0 0 0 3px #313131;-o-box-shadow:0 0 0 3px #313131;box-shadow:0 0 0 3px #313131;color:#353535;margin:8px 9px;padding:4px;cursor:pointer;}
#comparison #comparison-clear .type{position:absolute;top:-2px;left:7px;width:16px;hieght:16px;font-weight:normal;font-size:15px;text-shadow:0 0 2px #d1d1d1,0 -1px 0 #353535;padding:0}
#comparison #compare-holder{width:1000px;margin:3em 0;}
#comparison #compare-holder #compare-center{display:block;margin:0 auto;padding:0 0 2em 0}
#comparison h2{text-align:left;margin:.25em .05em}
#comparison .img{display:inline-block;float:left;margin:.25em;padding:0;image-rendering:optimizeQuality}
#size-picker{position:absolute;display:block;top:.28em;right:1.8em;margin:0;width:140px;height:30px;}
#size-picker h4{text-align:center}
#size-picker div{display:inline-block;float:left;margin:1%;padding:0;width:26%;height:100%}
#size-picker #small,#size-picker #medium,#size-picker #large{cursor:pointer;z-index:4;}
#size-picker #small .box,#size-picker #medium .box,#size-picker #large .box{background-color:#313131;-webkit-transition:all .5s linear;-moz-transition:all .5s linear;transition:all .5s linear}
#size-picker #small:hover .box,#size-picker #medium:hover .box,#size-picker #large:hover .box{background-color:#b1b1b1}
#size-picker #small .box{display:inline-block;float:left;width:19%;height:96%;margin:3%;cursor:pointer;z-index:0}
#size-picker #medium .box{display:inline-block;float:left;width:44%;height:44%;margin:3%;cursor:pointer;z-index:0}
#size-picker #large .box{display:inline-block;float:left;width:96%;height:96%;margin:3%;cursor:pointer;z-index:0}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(360deg)}
}@-moz-keyframes spin{0%{-moz-transform:rotate(0);-moz-transform-origin:50% 50%}
100%{-moz-transform:rotate(360deg);-moz-transform-origin:50% 50%}
}#welcome{position:relative;float:left;display:block;height:100%;margin:0;padding:0;width:100%;color:#6a6a6a;}
#welcome #welcome-logo{position:absolute;top:0;left:0;width:514px;height:121px;margin:.5em 1em;padding:0;background-image:url("/images/logo.png");background-repeat:no-repeat}
#welcome #welcome-text{width:80%;margin:165px auto}
#spinner{position:absolute;top:4px;left:4px;width:115px;height:115px;margin:0;padding:0;background-image:url("/images/spinner.png");background-repeat:no-repeat;background-size:100% 100%;transition:all 1s linear;-webkit-transition:all 1s linear;-moz-transition:all 1s linear;-webkit-animation-name:spin;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-webkit-animation-duration:1.9s;-moz-animation-name:spin;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;-moz-animation-duration:1.9s;opacity:1;-webkit-opacity:1;-moz-opacity:1;-o-opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);z-index:2}
#error-holder{position:absolute;top:0;left:0;width:100%;transition:all .35s linear;-webkit-transition:all .35s linear;-moz-transition:all .35s linear;opacity:1;-webkit-opacity:1;-moz-opacity:1;-o-opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);z-index:2;}
#error-holder #error{position:relative;top:80px;width:500px;margin:1em auto;padding:8px;background-color:#5a5a5a;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;-moz-box-shadow:0 0 0 10px rgba(49,49,49,0.5),inset 0 0 150px 40px #3b3b3b;-webkit-box-shadow:0 0 0 10px rgba(49,49,49,0.5),inset 0 0 150px 40px #3b3b3b;-o-box-shadow:0 0 0 10px rgba(49,49,49,0.5),inset 0 0 150px 40px #3b3b3b;box-shadow:0 0 0 10px rgba(49,49,49,0.5),inset 0 0 150px 40px #3b3b3b;text-shadow:0 -1px 1px #313131;color:#fff;}
#error-holder #error h2,#error-holder #error h3{margin-bottom:0}
#error-holder #error h3{margin-bottom:1em;margin-left:2.5em}
#error-holder #error p{margin-top:1em;margin-bottom:1em}
#error-holder #error .small{font-size:.85em}
#error-holder #error #error-pointer{position:absolute;display:block;top:-30px;left:19px;font-size:0;line-height:0%;width:0;height:0;border-left:10px solid transparent;border-bottom:20px solid rgba(49,49,49,0.5);border-right:10px solid transparent}
